@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins';
} 
#iconVoltar{
    position: absolute;
    width: 3%;
    left: 3%;
    top: 3%;
}  
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 221);
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    position: absolute;
    top: 5%;
    font-size: 3vw;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}
p{
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    position: absolute;
    top: 40%;
    font-size: 5vw;
}