/*fonte letra */ @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
/*Cabin Sketch*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Cabin Sketch';
}
body{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(186, 224, 186, 0.897);
}
#voltarbtn{
    position: absolute;
    width: 4%;
    left: 2%;
    top: 2%;
}
.quadro{
    top: -110%;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 600px;
    width: 1000px;
    background-color: rgb(4, 73, 4);
    border-style: solid;
    border-color: rgb(70, 4, 4);
    border-width: 8px;
}
.h1{
    position: absolute;
    width: 50ch;
    font-size: 40px;
    margin-top: 80px;
    color: white;
}


.notas{
    align-self: left;
    font-size: 25px;
    margin-left: 3%;
    color: white;
    align-self: center;
    
}

#nota2{margin-top: 5%;}
#nota3{margin-top: 5%;}
#nota4{margin-top: 5%;}

#media{
    margin-top: 2%;
    height: 40px;
    width: 100px;
    position: absolute;
    background-color: rgb(70, 4, 4);
    color: white;
    border-radius: 20px;
    font-size: 25px;
    left: 48%;
    }

    #media:hover{
        background-color: white;
        color: rgb(70, 4, 4);
        border-color: rgb(70, 4, 4);
        border-style: solid;
    }

    #resultado{
        position: absolute;
    }