*{
    padding: 0;
    margin: 0;
}

img{
   position: absolute;
   margin-left: -190px;
   text-shadow: 10px 5px 5px black;;
}

input{ 
    position: absolute;
    width: 7rem;
    height: 3.5rem;
    border-radius: 10px;
    background-color: beige;
    font-size: 1rem;
    color: black;
    font-size: 2rem;
    text-align: center;
    filter: drop-shadow(0 2rem 10rem rgb(255, 255, 255));
}
#iconVoltar{
    position: absolute;
    width: 3%;
    left: 13%;
    top: 2vh;
}  
.tela{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 100vh;
}

p{
    position: absolute;
    font-size: 30px;
    margin-top: 300px;
    color: white;
    font-weight: bold;
}

#title{
    position:absolute;
    color: white;
    z-index: 10;
    margin-bottom: 300px;
    font-size: 50px;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    
}

button{
    --c: #ffff;
    background: linear-gradient(90deg, #0000 33%, #fff5,
    #0000 67%) var(--_p,100%)/300% no-repeat, #59c2ff;
    color: #ffffff;
    border-radius: 10px;
    border-style: solid 30px;
    border-color: black;
    transform: perspective(900px) rotateY(calc(20deg*var(--_l,-1)));
    text-shadow: calc(var(--_l,-1)* 0.08em) -.01em 0 var(--c) 
    calc(var(--_l,-1)* 0.08em) .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;

}

button:hover,
button:focus-visible {
    --_p:0%;
    --_l:1;
}

button:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
}

button{
    position: relative;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    margin-left: 250px;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.6em .9em;
}