*{
    padding: 0;
    margin: 0;
}

img{
   position: absolute;
   text-shadow: 10px 5px 5px black;
   justify-self: center;
}
#iconVoltar{
    position: absolute;
    width: 3%;
    left: 2%;
    top: 2%;
}  

input{ 
    position: absolute;
    width: 18rem;
    height: 3rem;
    border-radius: 20px;
    margin-bottom:50px ;
    background-color: transparent;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}



.tela{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
}

p{
    position: absolute;
    font-size: 15px;
    margin-top: 50px;
    color: white;
    font-weight: bold;
}

#title{
    position:absolute;
    color: white;
    z-index: 10;
    margin-bottom: 300px;
    font-size: 40px;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    
}
svg{
   position: absolute;
   margin-left: 145px;
  
}

#btn-senha{
    margin-bottom:73px ;
    cursor: pointer;
}

#caca{
    --c: #ffff;
    background: linear-gradient(90deg, #0000 33%, #fff5,
    #0000 67%) var(--_p,100%)/300% no-repeat, rgb(6, 190, 6);
    color: #ffffff;
    border-radius: 20px;
    border-style: solid 30px;
    border-color: black;
    transform: perspective(900px) rotateY(calc(20deg*var(--_l,-1)));
    text-shadow: calc(var(--_l,-1)* 0.08em) -.01em 0 var(--c) 
    calc(var(--_l,-1)* 0.08em) .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;

}

#caca:hover,
#caca:focus-visible {
    --_p:0%;
    --_l:1;
}

#caca:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
}

#caca{
    position: relative;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    margin-top: 200px;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.6em .9em;
}