@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');



*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Jersey 10';
} 
body{
    background-color: black;
}

#iconVoltar{
    position: absolute;
    width: 3%;
    left: 2%;
    top: 2%;
}   

#flipas{
    position: relative;
    width: 150vw;
    margin-left: 0;
    bottom: 46.5vh;
    right: 24.5vw;
  
}
.backForm{
flex-direction: column;
 display: flex;
 align-items: center;
 justify-content: center;
border-radius: 5px;
position: absolute;
top: 32.0vh;
left: 38.6vw;
width: 24.2vw;
height: 37.2vh;
background-color: white;
filter: drop-shadow(0 2rem 10rem rgb(255, 255, 255));
}
#pontos{
    overflow: hidden;
    text-align: center;
    margin-bottom: 20%;
    width: 90%;
    height: 13%;
    font-size: 2vw;
}
#h1Pont{
    position: absolute;
    font-size: 3vw;
    left: 36.5vw;
    top: 12vh;
    filter: drop-shadow(0 1rem 2rem rgb(45, 83, 255));
    color: aqua;
}
#voltar{
    position: absolute;
    bottom: 45%;
    font-size: 2vw ;
}
#btn{
    width: 27%;
    height: 13%;
    font-size: 1.5vw;
}