*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tudo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    height: 200px;
    width: 250px;
    background-color: antiquewhite;
    flex-direction: column;
}